:root {
    --green: #406b37;  
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 545;
}

.image-container {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    color: #fff;
    a {
       color: #fff;
    }
    justify-content: center;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: 8px;
    /* margin-left: calc(35%/2); */
}

.content-container {
    flex-basis: 65%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.description {
    margin: 128px 32px 48px;
    font-weight: 550;
    div {
        margin-top: 16px;
    }
}

.form-container {
    background-color: #fff;
    justify-self: center;
    padding: 16px 32px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

form {
    width: 480px;
    font-size: 0.6rem;
    color: rgb(83, 83, 83);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

form label,
form input {
    display: block;
}

form label {
    margin-bottom: 2px;
}

form input {
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 4px;
}

.login button {
    box-sizing: border-box;
    margin: 24px 32px;
    padding: 14px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--green);
    border-radius: 8px;
    border: none;
    color: #fff;
}

.login div{
    margin: 12px 32px;
    a {
        color: var(--green);
    }
}


/* TODO: 
    - Fix legend
    - Make buttons more responsive?
    - Change input borders on click
    - Change input confirmations (valid 
    phone numbers, emails, etc.)
*/