* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.image {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35%;
    flex-shrink: 0;
}

.form-container {
    flex-basis: 65%;
    flex-shrink: 0;
}
